RewriteEngine On
RewriteBase /public_html/

# Redirect to the index.php for all non-existent files and directories
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?path=$1 [L,QSA]
